<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.Mapper.DonateInfoMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.Gentity.DonateInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="donor" property="donor" jdbcType="VARCHAR" />
    <result column="donorid" property="donorid" jdbcType="VARCHAR" />
    <result column="organization" property="organization" jdbcType="VARCHAR" />
    <result column="organizationid" property="organizationid" jdbcType="VARCHAR" />
    <result column="receiptNo" property="receiptno" jdbcType="VARCHAR" />
    <result column="danatetime" property="danatetime" jdbcType="TIMESTAMP" />
    <result column="donatetype" property="donatetype" jdbcType="INTEGER" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="goodstype" property="goodstype" jdbcType="VARCHAR" />
    <result column="goodsname" property="goodsname" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="goodsunit" property="goodsunit" jdbcType="VARCHAR" />
    <result column="sharescompany" property="sharescompany" jdbcType="VARCHAR" />
    <result column="shockquantity" property="shockquantity" jdbcType="INTEGER" />
    <result column="equivalent" property="equivalent" jdbcType="DECIMAL" />
    <result column="donateprogram" property="donateprogram" jdbcType="VARCHAR" />
    <result column="programid" property="programid" jdbcType="VARCHAR" />
    <result column="invoicegettype" property="invoicegettype" jdbcType="VARCHAR" />
    <result column="expressnumber" property="expressnumber" jdbcType="VARCHAR" />
    <result column="postdate" property="postdate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, donor, donorid, organization, organizationid, receiptNo, danatetime, donatetype, 
    currency, amount, goodstype, goodsname, quantity, goodsunit, sharescompany, shockquantity, 
    equivalent, donateprogram, programid, invoicegettype, expressnumber, postdate, remark, 
    type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pro_donate_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pro_donate_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.Gentity.DonateInfo" >
    insert into pro_donate_info (id, donor, donorid, 
      organization, organizationid, receiptNo, 
      danatetime, donatetype, currency, 
      amount, goodstype, goodsname, 
      quantity, goodsunit, sharescompany, 
      shockquantity, equivalent, donateprogram, 
      programid, invoicegettype, expressnumber, 
      postdate, remark, type
      )
    values (#{id,jdbcType=INTEGER}, #{donor,jdbcType=VARCHAR}, #{donorid,jdbcType=VARCHAR}, 
      #{organization,jdbcType=VARCHAR}, #{organizationid,jdbcType=VARCHAR}, #{receiptno,jdbcType=VARCHAR}, 
      #{danatetime,jdbcType=TIMESTAMP}, #{donatetype,jdbcType=INTEGER}, #{currency,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{goodstype,jdbcType=VARCHAR}, #{goodsname,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=INTEGER}, #{goodsunit,jdbcType=VARCHAR}, #{sharescompany,jdbcType=VARCHAR}, 
      #{shockquantity,jdbcType=INTEGER}, #{equivalent,jdbcType=DECIMAL}, #{donateprogram,jdbcType=VARCHAR}, 
      #{programid,jdbcType=VARCHAR}, #{invoicegettype,jdbcType=VARCHAR}, #{expressnumber,jdbcType=VARCHAR}, 
      #{postdate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Gentity.DonateInfo" >
    insert into pro_donate_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="donor != null" >
        donor,
      </if>
      <if test="donorid != null" >
        donorid,
      </if>
      <if test="organization != null" >
        organization,
      </if>
      <if test="organizationid != null" >
        organizationid,
      </if>
      <if test="receiptno != null" >
        receiptNo,
      </if>
      <if test="danatetime != null" >
        danatetime,
      </if>
      <if test="donatetype != null" >
        donatetype,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="goodstype != null" >
        goodstype,
      </if>
      <if test="goodsname != null" >
        goodsname,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="goodsunit != null" >
        goodsunit,
      </if>
      <if test="sharescompany != null" >
        sharescompany,
      </if>
      <if test="shockquantity != null" >
        shockquantity,
      </if>
      <if test="equivalent != null" >
        equivalent,
      </if>
      <if test="donateprogram != null" >
        donateprogram,
      </if>
      <if test="programid != null" >
        programid,
      </if>
      <if test="invoicegettype != null" >
        invoicegettype,
      </if>
      <if test="expressnumber != null" >
        expressnumber,
      </if>
      <if test="postdate != null" >
        postdate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="donor != null" >
        #{donor,jdbcType=VARCHAR},
      </if>
      <if test="donorid != null" >
        #{donorid,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null" >
        #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="receiptno != null" >
        #{receiptno,jdbcType=VARCHAR},
      </if>
      <if test="danatetime != null" >
        #{danatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="donatetype != null" >
        #{donatetype,jdbcType=INTEGER},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="goodstype != null" >
        #{goodstype,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="goodsunit != null" >
        #{goodsunit,jdbcType=VARCHAR},
      </if>
      <if test="sharescompany != null" >
        #{sharescompany,jdbcType=VARCHAR},
      </if>
      <if test="shockquantity != null" >
        #{shockquantity,jdbcType=INTEGER},
      </if>
      <if test="equivalent != null" >
        #{equivalent,jdbcType=DECIMAL},
      </if>
      <if test="donateprogram != null" >
        #{donateprogram,jdbcType=VARCHAR},
      </if>
      <if test="programid != null" >
        #{programid,jdbcType=VARCHAR},
      </if>
      <if test="invoicegettype != null" >
        #{invoicegettype,jdbcType=VARCHAR},
      </if>
      <if test="expressnumber != null" >
        #{expressnumber,jdbcType=VARCHAR},
      </if>
      <if test="postdate != null" >
        #{postdate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.Gentity.DonateInfo" >
    update pro_donate_info
    <set >
      <if test="donor != null" >
        donor = #{donor,jdbcType=VARCHAR},
      </if>
      <if test="donorid != null" >
        donorid = #{donorid,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        organization = #{organization,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null" >
        organizationid = #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="receiptno != null" >
        receiptNo = #{receiptno,jdbcType=VARCHAR},
      </if>
      <if test="danatetime != null" >
        danatetime = #{danatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="donatetype != null" >
        donatetype = #{donatetype,jdbcType=INTEGER},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="goodstype != null" >
        goodstype = #{goodstype,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null" >
        goodsname = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="goodsunit != null" >
        goodsunit = #{goodsunit,jdbcType=VARCHAR},
      </if>
      <if test="sharescompany != null" >
        sharescompany = #{sharescompany,jdbcType=VARCHAR},
      </if>
      <if test="shockquantity != null" >
        shockquantity = #{shockquantity,jdbcType=INTEGER},
      </if>
      <if test="equivalent != null" >
        equivalent = #{equivalent,jdbcType=DECIMAL},
      </if>
      <if test="donateprogram != null" >
        donateprogram = #{donateprogram,jdbcType=VARCHAR},
      </if>
      <if test="programid != null" >
        programid = #{programid,jdbcType=VARCHAR},
      </if>
      <if test="invoicegettype != null" >
        invoicegettype = #{invoicegettype,jdbcType=VARCHAR},
      </if>
      <if test="expressnumber != null" >
        expressnumber = #{expressnumber,jdbcType=VARCHAR},
      </if>
      <if test="postdate != null" >
        postdate = #{postdate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.Gentity.DonateInfo" >
    update pro_donate_info
    set donor = #{donor,jdbcType=VARCHAR},
      donorid = #{donorid,jdbcType=VARCHAR},
      organization = #{organization,jdbcType=VARCHAR},
      organizationid = #{organizationid,jdbcType=VARCHAR},
      receiptNo = #{receiptno,jdbcType=VARCHAR},
      danatetime = #{danatetime,jdbcType=TIMESTAMP},
      donatetype = #{donatetype,jdbcType=INTEGER},
      currency = #{currency,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      goodstype = #{goodstype,jdbcType=VARCHAR},
      goodsname = #{goodsname,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      goodsunit = #{goodsunit,jdbcType=VARCHAR},
      sharescompany = #{sharescompany,jdbcType=VARCHAR},
      shockquantity = #{shockquantity,jdbcType=INTEGER},
      equivalent = #{equivalent,jdbcType=DECIMAL},
      donateprogram = #{donateprogram,jdbcType=VARCHAR},
      programid = #{programid,jdbcType=VARCHAR},
      invoicegettype = #{invoicegettype,jdbcType=VARCHAR},
      expressnumber = #{expressnumber,jdbcType=VARCHAR},
      postdate = #{postdate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>