<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.Mapper.executiveMapper" >
  <resultMap id="BaseResultMap" type="com.manhui.structure.pro_executive.entity.Executive" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="exeuuid" property="exeuuid" jdbcType="VARCHAR" />
    <result column="project" property="project" jdbcType="VARCHAR" />
    <result column="executive" property="executive" jdbcType="VARCHAR" />
    <result column="accountname" property="accountname" jdbcType="VARCHAR" />
    <result column="depositbank" property="depositbank" jdbcType="VARCHAR" />
    <result column="bankid" property="bankid" jdbcType="VARCHAR" />
    <result column="cardid" property="cardid" jdbcType="VARCHAR" />
    <result column="contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="phonenumber" property="phonenumber" jdbcType="VARCHAR" />
    <result column="mailid" property="mailid" jdbcType="VARCHAR" />
    <result column="facsimile" property="facsimile" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="postcode" property="postcode" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="projectid" property="projectid" jdbcType="VARCHAR" />
    <result column="applytime" property="applytime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, exeuuid, project, executive, accountname, depositbank, bankid, cardid, contacts, 
    phonenumber, mailid, facsimile, address, postcode, area, projectid, applytime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pro_executive
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pro_executive
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.manhui.structure.pro_executive.entity.Executive" >
    insert into pro_executive (id, exeuuid, project, 
      executive, accountname, depositbank, 
      bankid, cardid, contacts, 
      phonenumber, mailid, facsimile, 
      address, postcode, area, 
      projectid, applytime)
    values (#{id,jdbcType=INTEGER}, #{exeuuid,jdbcType=VARCHAR}, #{project,jdbcType=VARCHAR}, 
      #{executive,jdbcType=VARCHAR}, #{accountname,jdbcType=VARCHAR}, #{depositbank,jdbcType=VARCHAR}, 
      #{bankid,jdbcType=VARCHAR}, #{cardid,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, 
      #{phonenumber,jdbcType=VARCHAR}, #{mailid,jdbcType=VARCHAR}, #{facsimile,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{projectid,jdbcType=VARCHAR}, #{applytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.manhui.structure.pro_executive.entity.Executive" >
    insert into pro_executive
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="exeuuid != null" >
        exeuuid,
      </if>
      <if test="project != null" >
        project,
      </if>
      <if test="executive != null" >
        executive,
      </if>
      <if test="accountname != null" >
        accountname,
      </if>
      <if test="depositbank != null" >
        depositbank,
      </if>
      <if test="bankid != null" >
        bankid,
      </if>
      <if test="cardid != null" >
        cardid,
      </if>
      <if test="contacts != null" >
        contacts,
      </if>
      <if test="phonenumber != null" >
        phonenumber,
      </if>
      <if test="mailid != null" >
        mailid,
      </if>
      <if test="facsimile != null" >
        facsimile,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="postcode != null" >
        postcode,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="projectid != null" >
        projectid,
      </if>
      <if test="applytime != null" >
        applytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="exeuuid != null" >
        #{exeuuid,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="executive != null" >
        #{executive,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null" >
        #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="depositbank != null" >
        #{depositbank,jdbcType=VARCHAR},
      </if>
      <if test="bankid != null" >
        #{bankid,jdbcType=VARCHAR},
      </if>
      <if test="cardid != null" >
        #{cardid,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null" >
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="mailid != null" >
        #{mailid,jdbcType=VARCHAR},
      </if>
      <if test="facsimile != null" >
        #{facsimile,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="projectid != null" >
        #{projectid,jdbcType=VARCHAR},
      </if>
      <if test="applytime != null" >
        #{applytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.manhui.structure.pro_executive.entity.Executive" >
    update pro_executive
    <set >
      <if test="exeuuid != null" >
        exeuuid = #{exeuuid,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="executive != null" >
        executive = #{executive,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null" >
        accountname = #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="depositbank != null" >
        depositbank = #{depositbank,jdbcType=VARCHAR},
      </if>
      <if test="bankid != null" >
        bankid = #{bankid,jdbcType=VARCHAR},
      </if>
      <if test="cardid != null" >
        cardid = #{cardid,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null" >
        phonenumber = #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="mailid != null" >
        mailid = #{mailid,jdbcType=VARCHAR},
      </if>
      <if test="facsimile != null" >
        facsimile = #{facsimile,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="projectid != null" >
        projectid = #{projectid,jdbcType=VARCHAR},
      </if>
      <if test="applytime != null" >
        applytime = #{applytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manhui.structure.pro_executive.entity.Executive" >
    update pro_executive
    set exeuuid = #{exeuuid,jdbcType=VARCHAR},
      project = #{project,jdbcType=VARCHAR},
      executive = #{executive,jdbcType=VARCHAR},
      accountname = #{accountname,jdbcType=VARCHAR},
      depositbank = #{depositbank,jdbcType=VARCHAR},
      bankid = #{bankid,jdbcType=VARCHAR},
      cardid = #{cardid,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      phonenumber = #{phonenumber,jdbcType=VARCHAR},
      mailid = #{mailid,jdbcType=VARCHAR},
      facsimile = #{facsimile,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      projectid = #{projectid,jdbcType=VARCHAR},
      applytime = #{applytime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByinfo" resultMap="BaseResultMap" parameterType="com.manhui.structure.pro_executive.entity.Executive" >
    select
    <include refid="Base_Column_List" />
    from pro_executive
    <where>
      1=1
      <if test="executive!=null and executive!=''">
        AND executive LIKE  CONCAT('%','${executive}','%' )
      </if>
    </where>
  </select>
</mapper>