<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.WorkOrderFileMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Gentity.WorkOrderFile">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="file_size" jdbcType="DOUBLE" property="fileSize" />
    <result column="end_name" jdbcType="VARCHAR" property="endName" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="use" jdbcType="TINYINT" property="use" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="detail_id" jdbcType="BIGINT" property="detailId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_path, file_size, end_name, file_name, use, create_time, update_time, deleted, 
    detail_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from work_order_file
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from work_order_file
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.Gentity.WorkOrderFile">
    insert into work_order_file (id, file_path, file_size, 
      end_name, file_name, use, 
      create_time, update_time, deleted, 
      detail_id)
    values (#{id,jdbcType=BIGINT}, #{filePath,jdbcType=VARCHAR}, #{fileSize,jdbcType=DOUBLE}, 
      #{endName,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{use,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}, 
      #{detailId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Gentity.WorkOrderFile">
    insert into work_order_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="endName != null">
        end_name,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="use != null">
        use,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="detailId != null">
        detail_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="endName != null">
        #{endName,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="use != null">
        #{use,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="detailId != null">
        #{detailId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.Gentity.WorkOrderFile">
    update work_order_file
    <set>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        file_size = #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="endName != null">
        end_name = #{endName,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="use != null">
        use = #{use,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="detailId != null">
        detail_id = #{detailId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.Gentity.WorkOrderFile">
    update work_order_file
    set file_path = #{filePath,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=DOUBLE},
      end_name = #{endName,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      use = #{use,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      detail_id = #{detailId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>