<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.Mapper.WorkOrderDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.Gentity.WorkOrderDetails" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="stake_name" property="stakeName" jdbcType="VARCHAR" />
    <result column="stake_no" property="stakeNo" jdbcType="VARCHAR" />
    <result column="stake_uuid" property="stakeUuid" jdbcType="VARCHAR" />
    <result column="fault_type" property="faultType" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="fix_remark" property="fixRemark" jdbcType="VARCHAR" />
    <result column="fix_status" property="fixStatus" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
    <result column="title_id" property="titleId" jdbcType="BIGINT" />
    <result column="files_pres" property="filesPres" jdbcType="VARCHAR" />
    <result column="files_posts" property="filesPosts" jdbcType="VARCHAR" />
    <result column="stake_status" property="stakeStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, stake_name, stake_no, stake_uuid, fault_type, remark, fix_remark, fix_status, 
    create_time, update_time, deleted, title_id, files_pres, files_posts, stake_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from work_order_details
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from work_order_details
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.Gentity.WorkOrderDetails" >
    insert into work_order_details (id, stake_name, stake_no, 
      stake_uuid, fault_type, remark, 
      fix_remark, fix_status, create_time, 
      update_time, deleted, title_id, 
      files_pres, files_posts, stake_status
      )
    values (#{id,jdbcType=BIGINT}, #{stakeName,jdbcType=VARCHAR}, #{stakeNo,jdbcType=VARCHAR}, 
      #{stakeUuid,jdbcType=VARCHAR}, #{faultType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{fixRemark,jdbcType=VARCHAR}, #{fixStatus,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=TINYINT}, #{titleId,jdbcType=BIGINT}, 
      #{filesPres,jdbcType=VARCHAR}, #{filesPosts,jdbcType=VARCHAR}, #{stakeStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Gentity.WorkOrderDetails" >
    insert into work_order_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stakeName != null" >
        stake_name,
      </if>
      <if test="stakeNo != null" >
        stake_no,
      </if>
      <if test="stakeUuid != null" >
        stake_uuid,
      </if>
      <if test="faultType != null" >
        fault_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="fixRemark != null" >
        fix_remark,
      </if>
      <if test="fixStatus != null" >
        fix_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="titleId != null" >
        title_id,
      </if>
      <if test="filesPres != null" >
        files_pres,
      </if>
      <if test="filesPosts != null" >
        files_posts,
      </if>
      <if test="stakeStatus != null" >
        stake_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="stakeName != null" >
        #{stakeName,jdbcType=VARCHAR},
      </if>
      <if test="stakeNo != null" >
        #{stakeNo,jdbcType=VARCHAR},
      </if>
      <if test="stakeUuid != null" >
        #{stakeUuid,jdbcType=VARCHAR},
      </if>
      <if test="faultType != null" >
        #{faultType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fixRemark != null" >
        #{fixRemark,jdbcType=VARCHAR},
      </if>
      <if test="fixStatus != null" >
        #{fixStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=TINYINT},
      </if>
      <if test="titleId != null" >
        #{titleId,jdbcType=BIGINT},
      </if>
      <if test="filesPres != null" >
        #{filesPres,jdbcType=VARCHAR},
      </if>
      <if test="filesPosts != null" >
        #{filesPosts,jdbcType=VARCHAR},
      </if>
      <if test="stakeStatus != null" >
        #{stakeStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.Gentity.WorkOrderDetails" >
    update work_order_details
    <set >
      <if test="stakeName != null" >
        stake_name = #{stakeName,jdbcType=VARCHAR},
      </if>
      <if test="stakeNo != null" >
        stake_no = #{stakeNo,jdbcType=VARCHAR},
      </if>
      <if test="stakeUuid != null" >
        stake_uuid = #{stakeUuid,jdbcType=VARCHAR},
      </if>
      <if test="faultType != null" >
        fault_type = #{faultType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fixRemark != null" >
        fix_remark = #{fixRemark,jdbcType=VARCHAR},
      </if>
      <if test="fixStatus != null" >
        fix_status = #{fixStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="titleId != null" >
        title_id = #{titleId,jdbcType=BIGINT},
      </if>
      <if test="filesPres != null" >
        files_pres = #{filesPres,jdbcType=VARCHAR},
      </if>
      <if test="filesPosts != null" >
        files_posts = #{filesPosts,jdbcType=VARCHAR},
      </if>
      <if test="stakeStatus != null" >
        stake_status = #{stakeStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.Gentity.WorkOrderDetails" >
    update work_order_details
    set stake_name = #{stakeName,jdbcType=VARCHAR},
      stake_no = #{stakeNo,jdbcType=VARCHAR},
      stake_uuid = #{stakeUuid,jdbcType=VARCHAR},
      fault_type = #{faultType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      fix_remark = #{fixRemark,jdbcType=VARCHAR},
      fix_status = #{fixStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=TINYINT},
      title_id = #{titleId,jdbcType=BIGINT},
      files_pres = #{filesPres,jdbcType=VARCHAR},
      files_posts = #{filesPosts,jdbcType=VARCHAR},
      stake_status = #{stakeStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>